
@import url("https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap");

.App {
  text-align: center;
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f7f7f7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 5rem 5rem 0 5rem;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Home/Landing page */
/* text and headlines*/
.maintitle{
  font-family: 'Odibee Sans', cursive;
  color:white;
  margin: 0px;
  font-size: 14vh;
  padding-top: 7vh;
  text-align: center
}
.submaintitle{
  font-family: 'Odibee Sans', cursive;
    color:white;
    margin: 0px;
    font-size: 6em;
    padding-top: 100px;
    text-align: left;
    margin-left: 43%;
}
.subTitle{
  color:white;
}
.landingText {
  color: white;
  font-size: 20px;
}
.landingTitle {
  color: white;
  margin:0px;
  padding:none;
  text-align: center;
}
/*containers and content */
.landingAboveContainer {
  background-image: url("lib/assets/darkImg.png");
  min-width: 100%;
  min-height: 100%;
  height: 100vh;
  background-size: cover;
  padding-bottom: -5em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.landingAboveContainer2 {
  background-image: url("lib/assets/earth-1149733_1920.jpg");
  min-width: auto;
  min-height: 120%;
  background-size: cover;
  align-items: baseline;
  justify-content: center;
  padding-bottom: 5em;
  padding-top:0em;
  margin-top: 300px;
  margin-bottom: -0em;
}

.landingPitch1Container {
  padding-top:70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  height: 90vh;
  min-height: 90vh;
  justify-content:center;
  padding-bottom:100px;
}

.landingImg1{
  margin-top:"40px";
    width:500px;
    height:auto;
}
.landingPitch2Container {
  padding-top:70px;
  display: flex;
  align-items: center;
  background-color: black;
  height: 90vh;
  min-height: 90vh;
  justify-content:space-around;
  padding-bottom:100px;
  padding-top:20px;
  margin-top: 80px;
}
.landingImg2{
  margin-right:20PX;
    margin-bottom:20px;
    width:45%;
     height:auto;
     max-height:90vh;
     }

.landingImg4{
   margin-right:20PX;
     margin-bottom:20px;
     width:auto;
      height:30%;
      max-height:90vh;
      }
.landingImg5{
   margin-right:20PX;
     margin-bottom:20px;
     width:auto;
      height:15%;
      max-height:90vh;
}
.landingImg6{
   margin-right:50PX;
   margin-left: 150px;
     margin-bottom:20px;
     width:auto;
      height:15%;
      max-height:90vh;
}


.LandingPitch4Container {
  padding-top:70px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: black;
  height: 90vh;
  min-height: 80vh;
  justify-content: space-around;
  padding-bottom:100px;
  padding-top:20px;
  padding-right: 50px;
  padding-right: 50px;
}
.landingImg3{
    width:50%;
    height:auto;

}
.landingSolutionContainer{

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  justify-content:space-around;
  padding-bottom:20px;
  padding-top:20px;
  padding-right: 50px;
  padding-left: 50px;

}
.landingSolutionCardsContainer{
  display: flex;
  justify-content:space-around;
  align-items: strech;
}
.landingSolutionCard{
  margin: 20px 20px 20px 20px;

}

.landingPitch6Container {
  padding-top:70px;
  display: flex;
  align-items: flex-start;
  text-align: center;
  background-color: black;
  height: 90vh;
  min-height: 90vh;
  justify-content:center;
  margin-bottom:-300px;
  margin-top: 45px;
  margin-right: 180px;
  margin-left: 80px;
}
.landingPitch7Container {
  padding-top:70px;
  display: flex;
  align-items: flex-start;
  background-color: black;
  height: 90vh;
  min-height: 90vh;
  justify-content:center;
  margin-bottom: -350px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-right: 100px;
  margin-left: 80px;
  margin-top: 8em;
  margin-bottom:-550px;
}
color{
color:#5aadaa;
}
